// Colors
$darkGrey: #323232;
$white: #f8f8f2;
$black: #44475a;
$blue: #bd93f9;

$backgroundDarker: #1f212a;
$backgroundDark: #282a36;

//Fonts
$fontHeader: 'Mononoki', monospace;
$fontParagraph: 'Jetbrains Mono', sans-serif;
$fontCode: 'Mononoki', monospace;

// Content
$breakLarge: 992px;
$width: 760px;