{{/*  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">  */}}
<script src="https://kit.fontawesome.com/2b712eff0d.js" crossorigin="anonymous"></script>
<link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}favicon.ico">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom.css">