<div class="socialNavbar">
    <ul>
        {{ range sort .Site.Params.social "key"}}
        <li>
            {{ if isset . "icon" }}
                <a href="{{ .url | safeURL }}" aria-hidden="true" title="{{ .name }}">
                    <img height="32" width="32" src="https://cdn.simpleicons.org/{{ .icon }}/b4befe" />
                </a>
            {{ else if isset . "faicon" }}
                <a href="{{ .url | safeURL }}" aria-hidden="true" title="{{ .name }}">
                    <i class="{{ .faicon }}"></i>
                </a>
            {{ else }}
                <a href="{{ .url | safeURL }}">{{ .name }}</a>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</div>
